<form class="form" #f="ngForm">
  <div class="first-box">
    <div class="form-group">
      <label class="input-title" for="username">Username</label>
      <input type="text" id="username" name="username" #username="ngModel" pattern="^[a-z0-9_-]{3,15}$" [(ngModel)]="newUser.username" required
      [ngClass]="!username.valid && (username.dirty || username.touched) ? 'input-invalid' : 'input-valid'">
      <div [ngClass]="!username.valid && (username.dirty || username.touched) ? 'instructions' : 'display-none'">
        <p>Ex: Fu_lano222 </p>
      </div>
    </div>
    <div class="form-group">
      <label class="input-title" for="name">Name</label>
      <input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="newUser.name" pattern="^[^-\s][a-zA-ZÀ-ú ]{3,35}$" required
      [ngClass]="!name.valid && (name.dirty || name.touched) ? 'input-invalid' : 'input-valid'">
      <div [ngClass]="!name.valid && (name.dirty || name.touched) ? 'instructions' : 'display-none'">
          <p>Ex: Fulano de Tal </p>
      </div>
    </div>
    <div class="form-group">
      <label class="input-title"  for="email">Email</label>
      <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="newUser.email" required
      pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z]{1,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
      [ngClass]="!email.valid && (email.dirty || email.touched) ? 'input-invalid' : 'input-valid'">
      <div [ngClass]="!email.valid && (email.dirty || email.touched) ? 'instructions' : 'display-none'">
          <p>Ex: fulano@gamail.com.br </p>
      </div>
    </div>
    <div class="form-group">
      <button class="save" type="submit" [disabled]="!f.form.valid" [ngClass]="!f.form.valid ? 'disabled': 'save'" (click)="save()">Save</button>
      <button class="discard" type="button">Discard</button>
    </div>
  </div>
  <div class="second-box">
      <div class="form-group">
          <label class="input-title" for="city">City</label>
          <input class="input-valid" type="text" id="city" name="city" [(ngModel)]="city">
          <div class="instructions"></div>
        </div>
        <div class="form-group">
            <label class="input-title">Ride in group</label>
            <div class="form-item" *ngFor="let choice of radioChoices; let i = index">
              <input type="radio" value="choice?.value" name="campo-radio" id="campo-radio{{i}}"/>
              <label for="campo-radio{{i}}">{{choice?.label}}</label>

            </div>
        </div>
        <div class="form-group">
            <label class="input-title">Day of the Week</label>
            <div class="form-item" *ngFor="let checkChoice of checkboxChoices; let i = index">
              <input type="checkbox" [value]="checkChoice?.value" name="campo-checkbox{{i}}" id="campo-checkbox{{i}}" />
              <label for="campo-checkbox{{i}}">{{checkChoice?.label}}</label>
            </div>
        </div>
  </div>
</form>
