<form class="form">
  <div class="first-box">
    <div class="form-group">
      <label class="input-title" for="#username">Username</label>
      <input type="text">
      <div class="instructions">Fu_lano222</div>
    </div>
    <div class="form-group">
      <label class="input-title" for="#name">Name</label>
      <input type="text" placeholder="Fulano de Tal">
      <div class="instructions"></div>
    </div>
    <div class="form-group">
      <label class="input-title"  for="#email">Email</label>
      <input type="text" placeholder="fulano@gmail.com.br">
      <div class="instructions"></div>
    </div>
    <div class="form-group">
      <button class="save" type="submit">Save</button>
      <button class="discard" type="button">Discard</button>
    </div>
  </div>
  <div class="second-box">
      <div class="form-group">
          <label class="input-title" for="#city">City</label>
          <input type="text" placeholder="São Paulo">
          <div class="instructions"></div>
        </div>
        <div class="form-group">
            <input type="radio" value="always" name="campo-radio" id="campo-radio1" />
            <label for="campo-radio1">Always</label>
            <input type="radio" value="sometimes" name="campo-radio" id="campo-radio2" />
            <label for="campo-radio2">Sometimes</label>
            <input type="radio" value="never" name="campo-radio" id="campo-radio3" />
            <label for="campo-radio3">Never</label>
        </div>
        <div class="form-group">
            <input type="checkbox" value="sunday" name="campo-checkbox" id="campo-checkbox1" />
            <label for="campo-checkbox1">Sun</label>
            <input type="checkbox" value="monday" name="campo-checkbox" id="campo-checkbox2" />
            <label for="campo-checkbox2">Mon</label>
            <input type="checkbox" value="tuesday" name="campo-checkbox" id="campo-checkbox3" />
            <label for="campo-checkbox3">Tue</label>
            <input type="checkbox" value="wednesday" name="campo-checkbox" id="campo-checkbox4" />
            <label for="campo-checkbox4">Wed</label>
            <input type="checkbox" value="thursday" name="campo-checkbox" id="campo-checkbox5" />
            <label for="campo-checkbox5">Thur</label>
            <input type="checkbox" value="friday" name="campo-checkbox" id="campo-checkbox6" />
            <label for="campo-checkbox6">Fri</label>
            <input type="checkbox" value="saturday" name="campo-checkbox" id="campo-checkbox7" />
            <label for="campo-checkbox7">Sat</label>
        </div>
  </div>
</form>
