@import '../../resources/scss/utilities.scss';

.header {
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
}
.icone {
    width: 3em;
    height: 3em;
    padding: 0.5em;
    background-color: $defaultColor;
    text-align: center;
    border-radius: $defaultBorderRadius;

    .fa-volleyball-ball {
        color: $white;
        font-size: 2em;
    }
}
.principal-title {
    padding: .5em 0 0 .5em;
    h2 {
        display: inline-block;
    }
}

.header-menu {
    margin-top: 10px;
}
