<div class="bottom-panel">
    <div class="panel">
      <div class="panel-box">
        <h2 class="panel-box-title">Need help?</h2>
        <div class="panel-item">
            <i class="far fa-grimace"></i>
        </div>
        <div class="panel-item panel-text">
          <p class="text">
              Mussum Ipsum, cacilds vidis litro abertis. Sapien in monti palavris qui num significa nadis i pareci latim. 
              Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. 
          </p>
        </div>
      </div>
      <div class="panel-box">
          <h2 class="panel-box-title">Why register?</h2>
        <div class="panel-item">
            <i class="far fa-kiss-wink-heart"></i>
        </div>
        <div class="panel-item panel-text">
          <p class="text">
              Mussum Ipsum, cacilds vidis litro abertis. Sapien in monti palavris qui num significa nadis i pareci latim. 
              Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. 
          </p>
        </div>
      </div>
      <div class="panel-box">
          <h2 class="panel-box-title">What people are saying...</h2>
        <div class="panel-item">
            <i class="far fa-surprise"></i>
        </div>
        <div class="panel-item panel-text">
          <p class="text">
              Mussum Ipsum, cacilds vidis litro abertis. Sapien in monti palavris qui num significa nadis i pareci latim. 
              Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. 
          </p>
        </div>
      </div>
    </div>
  </div>
