$defaultColor: #1ABC9C;
$secondaryColor: #BAEBE1;
$white: #fff;
$bgColor1: #F4F4F4;
$bgColor2: #E3E3E3;
$fontColor1: #E3E3E3;

$microFont: .7em;
$largeFont: 1.3em;
$sectionTitleFont:2em;
$defaultBorderRadius: 4px;

@mixin section-title {
    font-size: 2em;
    font-weight: 200;
}

@mixin section-line {
    width: 100%;
    border-bottom: 2px solid $fontColor1;
    margin: auto 0 auto 2em;
}

@mixin panel-box-title {
    font-weight: 200;
    color: $defaultColor;
    font-size: $largeFont;
}