<div class="container top-panel">
  <div class="panel">
    <div class="panel-box">
      <div class="panel-item">
        <i class="fas fa-puzzle-piece"></i>
      </div>
      <div class="panel-item">
        <p class="first-text">Sport Type</p>
        <p class="second-text">Cycling</p>
      </div>
    </div>
    <div class="panel-box">
      <div class="panel-item">
        <i class="fas fa-trophy"></i>
      </div>
      <div class="panel-item">
        <p class="first-text">Mode</p>
        <p class="second-text">Advanced</p>
      </div>
    </div>
    <div class="panel-box">
      <div class="panel-item">
        <i class="fas fa-map-signs"></i>
      </div>
      <div class="panel-item">
        <p class="first-text">Route</p>
        <p class="second-text">30 miles</p>
      </div>
    </div>
  </div>
</div>